<h1>A NodeJS View</h1>

<p>{{ message }}</p>

<form action="/message" method="post">
    <input type="text" name="message">Please input any content</input>
    <button type="submit">Submit</button>
</form>

